.center{
    text-align: center;
}
body{
    background-color: #f6f6f6 !important;
    display: flex;
}
.mains {
    padding-bottom: 40px;
    display: flex;
    width: 100%;
}
.contents {
    width: 60%;
}

/* sidebar */
.sidebar {
    width: 150px;
    min-width: 150px;
    height: 100%;
    background-color: #fff !important;
    padding-left: 15px;
}
.icons {
    height: 48%;
    display: flex;
    flex-direction: column;
}
.icons > span {
    display: flex;
    justify-content: center;
}
.icons > span i {
    width: 30%;
    border-bottom: 3px solid #000;
}
.icon {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 15px;
}
.sidebar .icons p {
    margin: 0 0 0 15px;
}

/* header */
.page-contents {
    width: 85.8%;
}
header {
    display: flex !important;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 55px;
    background: #fff;
}
header .logo {
    height: 50px;
    width: 50px;
}
header .logo img {
    width: 100%;
}
.searchbox {
    position: relative;
}
.searchbox i {
    position: absolute;
    left: 4px;
    top: 7px;
}
.searchbox input {
    padding-left: 20px;
    border-radius: 12px;
    border: 2px solid #cfcfcf;
}
.user-icons {
    display: flex;
    align-items: center;
}
.notifications {
    padding: 0 12px;
}
.user-icons .notifications i {
    font-size: 20px;
}
.user {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    overflow: hidden;
}
.user-wrap .user img {
    width: 100%;
}
.user-wrap{
    position: relative;
}
.user-wrap .user-drop {
    display: none;
    visibility: hidden;
    position: absolute;
    right: 0;
    top: 55px;
    width: 270px;
    padding: 0 15px;
    margin: 0;
    list-style: none;
    background: #515151;
    color: #fff;
    border-radius: 12px;
    z-index: 50;
}
.user-wrap:hover .user-drop{
    visibility: visible;
    display: block;
}
.user-drop::after {
    content: "";
    height: 30px;
    width: 30px;
    right: 7px;
    top: -3px;
    background: #515151;
    transform: rotate(50deg);
    position: absolute;
    z-index: -5;
}
ul.user-drop li {
    cursor: pointer;
    margin: 10px 0;
}
.user-drop li:first-child span {
    display: block;
}
.user-drop li:first-child {
    border-bottom: 2px solid #000;
}
.user-drop li:first-child {
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.user-drop li i {
    margin-right: 10px;
}

/*    Courses   */
.course-progress {
    background: white;
    margin: 20px;
    border-radius: 12px;
}
.contents .title {
    padding: 15px;
}
.line {
    width: 98%;
    height: 4px;
    background: #dfdfdf;
}
.contents .line-half, aside .line-half {
    background: #5742A9;
    width: 10%;
    height: 4px;
}
.courses {
    display: flex;
    overflow-x: scroll;
}
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
    margin: 0 15px;
    width: 230px;
    height: 300px;
    border-radius: 5px;
}
.card .percent {
  position: relative;
}

.card svg {
  position: relative;
  width: 210px;
  height: 210px;
  transform: rotate(-90deg);
}

.card svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #f0f0f0;
  stroke-width: 10;
  stroke-linecap: round;
}

.card svg circle:last-of-type {
  stroke-dasharray: 625px;
  stroke-dashoffset: calc(625px - (625px * var(--percent)) / 100);
  stroke: #3498db; 
}

.card .number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card .number h3 {
  font-weight: 200;
  font-size: 3.5rem;
}

.card .number h3 span {
  font-size: 2rem;
}

.card .title h2 {
  margin: 25px 0 0;
}

.card:nth-child(1) svg circle:last-of-type {
  stroke: #f39c12;
}

.card:nth-child(2) svg circle:last-of-type {
  stroke: #2ecc71;
}

/* Upcoming Assignments */
.upcoming-assignments {
    background: white;
    margin: 20px;
    border-radius: 12px;
}
.assgtable {
    padding: 0 20px;
}
table, thead, tr {
    width: 100%;
    text-align: center;
}
thead th{
    text-align: center;
}
tbody tr td:first-child, thead th:first-child{
    text-align: left;
}
th.sub {
    width: 30%;
}
th.due {
    width: 15%;
}
th.rate {
    width: 15%;
}
th.status {
    width: 20%;
}
th.action {
    width: 20%;
}
tbody td {
    padding: 7px 0;
}

/* news */
.news {
    background: white;
    margin: 20px;
    border-radius: 12px;
}
.news-tab {
    display: flex;
    padding-left: 15px;
}
.tab {
    margin-right: 15px;
}
.tab.active {
    border-bottom: 4px solid #5742A9;
}
.news-panel {
    display: flex;
    margin: 15px 15px 0;
}
.news-tile {
    margin-right: 15px;
}
.news-img {
    border-radius: 12px;
    overflow: hidden;
    height: 180px;
    max-width: 200px;
}
.news-detail p:first-child {
    color: #5742a9;
    margin-top: 8px;
}
.news-detail p:last-child {
    height: 100px;
    overflow: hidden;
}

/* aside */
aside {
    width: 30%;
}
.upcoming-events {
    background: white;
    margin: 20px 0;
    border-radius: 12px;
    padding: 15px;
}
.event {
    background: #eaeaea;
    padding: 5px 15px;
    margin-bottom: 10px;
}
.event .date {
    display: flex;
    justify-content: space-between;
}
.events .event i {
    color: #686868;
    cursor: pointer;
}
.events .event i:hover {
    color: #5742a9;
}
.events .event i.active {
    color: #5742a9;
}